<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css ' %}">
    <title>Document</title>
</head>
<body>
    <section class="container">


         <!-- formulario para logar -->
        <form class="container-form" method="post" id="form-logar">

            <h2>Logar</h2>
            {% csrf_token %}
            <div class="container-text">
                <label for="username">email</label>
                <input type="text" name="username" id="username" autocomplete="off">

            </div>
            
            <div class="container-text">
                <label for="password">senha</label>
                <input type="password" name="password" id="password" autocomplete="off">
            </div>

            <button class="button-active" type="submit">Entrar</button>

            <a href="#">Esqueceu a Senha?</a>

             <!-- função que volta para o registrar -->
            <button onclick="OpenOrCloseForms()">Registrar</button>
            
        </form>



        <!-- formulario para Registrar -->

        <form class="container-form deactive" id="form-registrar">

            <h2>Registrar</h2>
            
            <div class="container-text">
                <label for="email">email</label>
                <input type="text" name="email" id="email" autocomplete="off">

            </div>
            
            <div class="container-text">
                <label for="password1">senha</label>
                <input type="password" name="password1" id="password1" autocomplete="off">
            </div>

            <div class="container-text">
                <label for="password2">Confirme a senha</label>
                <input type="password" name="password2" id="password2" autocomplete="off">
            </div>

            <button class="button-active" type="submit">Registrar</button>

            
            <!-- função que volta para o logar -->
            <button onclick="OpenOrCloseForms()">Logar</button>
            
        </form>
    
    </section>


    <script src="{% static 'js/main.js ' %}"></script>
</body>
</html>